body {
    font-family: monospace;
}
input.btn,
button.btn {
    height: 100%;
    padding: 0;
}
div.col,
div.col-6,
div.col-8 {
    padding: 2px;
}
div.jumbotron {
    margin: 0;
    padding: 8px;
}
div.card-body,
div.card-header {
    padding: 12px;
}
div.card {
    max-width: 240px;
    margin: auto;
}
div.card-body {
    min-width: 226px;
}